body {
  margin: 0;
  padding: 0; 
  font-family: monospace;
  background-image: url('/images/background.jpg');  
}

/*HEADER*/
.brand-logo img {
  width: 70px;
}
 
nav {
  background-color: rgba(41, 53, 49, 0.3);
}

.home {
  width: 100% !important;
  position: relative;
}
 

#mobile-demo {
 background-color: rgba(211, 217, 215, 0.9);
 width: 70%;
}


#mobile-demo li a {
  color: black;
}

#mobile-demo li img {
   position: absolute;
   top: 350px;
}

#mobile-demo li a:hover {
  background-color: rgba(86, 97, 95, 0.4);
  color: black;
}

/*HOME*/
 

 

/*SLIDER*/
.slider {
  top: -65px; 
  margin-bottom: -65px;
}
 
/*FOOTER*/

.page-footer {
  background-color: rgba(86, 97, 95, 0.9);
}

 