body {
  margin: 0;
  padding: 0; 
  font-family: monospace;  
  font-size: 17px;
  background-color: #CFC;
}

a {
  color: rgb(26, 150, 26);
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: rgb(202, 214, 93);
  font-size: 22px;
  background-color: rgb(27, 125, 139);
  font-weight: bold; 
}


/*HEADER*/
.brand-logo {
  position: relative;
}

.brand-logo img {
  position: relative;
  width: 130px;
  margin-left: 50px;
  top: -100px;
}
.brand-logo-small img {
  position: relative;
  width: 60px;
  margin-left: 90px; 
}
 
nav {
  background-color: rgb(27, 125, 139);
}

nav.trans {
  background-color: rgba(27, 125, 139, 0.8);
}
nav li {
  position: relative;
  right: 120px;
  margin: 0 auto;
  text-align: center !important;
}
 
nav li a {
  font-size: 25px;
  color: rgb(227, 238, 70);
}
nav li a:hover {
  background-color:rgba(41, 53, 49, 0.7);
  font-size: 30px;
}
.home {
  width: 100% !important;
  position: relative;
}
 


.side-nav {
  background-color: rgba(210, 218, 216, 0.9); 
  font-size: 30px !important;
}

.side-nav .user-view{
  height: 208px;
  background-color: rgb(27, 125, 139);
}

.side-nav .user-view img {
  position: relative; 
  left: 30px;
  top: -10px;
}

.side-nav li a {
  font-size: 20px;
}

.side-nav li a:hover {
  background-color:rgba(77, 92, 88, 0.9);
  color: rgb(241, 247, 248);
  font-size: 24px;
}

.side-nav .material-icons {
  font-size: 30px;
}

/*HOME*/

.preHeader.hidden {
  display: none;  
}


.preHeader h1{
  text-align: center;
  color: #CFC;
  font-family: 'jokerman';
  position: relative;
  top: 60px;
}
 
.preHeader {
  background-color: rgb(27, 125, 139);
  position: relative;  
  height: 150px; 
}

.mainHeader {
  position: relative;
  top: -35px;
}

.mainHeader.trick {
  padding-bottom: 190px;
}

.navbar-fixed {
  top: 35px;
}
  

 

/*SLIDER*/
.slider {
  top: -35px; 
  margin-bottom: -35px;
  height: 680px !important;
}

.slider .slides {
  height: 100% !important;
}

.slider h3 {
  position: relative;
  top: 75px;
}
.slider h5 {
  position: relative;
  top: 75px;
}

 
/*FOOTER*/

.page-footer {
  background-color: rgb(27, 125, 139);
}

@media only screen and (max-width: 500px) { 
    .preHeader {
      background-color: rgb(27, 125, 139);
      position: relative;  
      height: 160px; 
    } 
    .preHeader h1{
      text-align: center;
      color: #CFC;
      font-family: 'jokerman'; 
      font-size: 25px;
      margin-left: 40px; 
      position: relative; 
    }
    .brand-logo img {
      position: relative;
      width: 80px;
      margin-left: -5px;
      top: -100px;
    } 
    .materialbox-caption {
      margin-bottom: 150px;
  }
}
/*  
.parallax-container {
  background-color:rgba(240, 245, 243, 0.4);
} */
 
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  position: relative;
  top: -35px;
  margin-bottom: -35px;
}


.flex-container .material-placeholder { 
  margin: 0 auto; 
  padding: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; 
}

 

/* .flex-container .image-container img {
  width: 300px;  
} */

#materialbox-overlay {
  background-color: rgba(23, 32, 29, 0.7);
}

.material-icons {
  font-size: 48px;
}

.contact-boxes {  
  margin: 0 auto;
  padding-bottom: 5px;
  height: 400px;
  font-size: 18px;
  overflow: wrap;
} 

/* Smoke container */

.smokeIcon {
 position: relative;
 left: 32px;
}

.reverseSmokingIcon {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  position: relative;
  left: -32px;
}

.reverseSmokingIcon {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  position: relative;
  left: -20px;
}

#smoke {
	position: relative;
	z-index: 3;
	width: 1px; height: 160px;
	left: 50%; bottom: 35px;
}

/* smoke balls */

#smoke span { 
  display: block;
	position: absolute;
	bottom: -35px; left: 50%; margin-left:-20px;
	height: 0px; width: 0px;
	border: 35px solid #4b4b4b;
	border-radius: 35px;
	left: -14px; opacity: 0;
	transform: scale(0.2);
}

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }
 

.parallax-container {
  height: 350px;
}

.reviews img {
  padding-top: 20px;
}
.reviews .movedown{
    margin-top: 70px;
}

blockquote { 
  border-left: 5px solid rgb(202, 214, 93);
}

.card {
  font-size: 15px;
  height: 50%;
}

.card-image img {
   height: 250px; 
}

.card-title { 
  color:#CFC !important;
}

.modal {
  width: 80%;   
  max-height: 100% !important;
}

.modal button {
     background: red;
}

 